*{
	padding:0px;
	margin:0 auto;
}

:root{
    --bg_color:#00aef3;
	--font_color:#00aef3;
}

body{
	font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar{
	width:100%;
	height: 100px;
	background: #FFF;
	position: fixed;
	top:0;
	z-index: 10000;
	display: inline-block;
}

.indexLogo{
	float: left;
	height: 100%;
	width: 35%;
	text-align: center;
}
.indexLogo a{
	width: 256px;
	height: 100px;
	display: inline-block;
}
.indexLogo a img{
	width: 100%;
	height: 100%;
}

.indexNav{
	float: left;
	margin-left: 10%;
	height: 100%;
}
@media screen and (min-width: 768px){
.indexLogo{
	width: 28%;
}
.indexNav{
	margin-left: 0%;
}
}
@media screen and (min-width: 992px){
.indexNav{
	margin-left: 5%;
}
}
@media screen and (min-width: 1200px){
.indexNav{
	margin-left: 10%;
}
}

.indexNav .nav-item ul{
	list-style-type: none;
	height: 100%;
	display: inline-block;
}
.indexNav .nav-item .nav-line{
	background: var(--bg_color);
	height: 2px;
	margin-top: -32px;
	position:absolute;
}

.indexNav .nav-item ul li{
	float: left;
	height: 100%;
	text-align: center;
	line-height: 100px;
	padding-left: 15px;
	padding-right: 15px;
}

.indexNav .nav-item ul li a{
	color: #666;
	text-decoration: none;
	font-size: 18px;
	display: inline-block;
	height: 46px;
	line-height: 46px;
}
.indexNav .nav-item ul li a:hover{
	color:var(--bg_color);
}

.indexNav .nav-item ul li.active a{
	color:var(--bg_color);
}

.indexNav .nav-item{
	float: left;
}

.indexNav .nav-btn{
	float: left;
}
.indexNav .nav-btn .nav-btn-inner{
	width: 110px;
	margin: 33px 40px;
}
.indexNav .nav-btn a.layui-btn{
	width: 100%;
	height: 34px;
	line-height: 34px;
}
.indexNav .nav-btn ul{
	width: 110px;
	border: 1px solid #DFDFDF;
	background: #FFF;
	opacity:1;
	height: auto;
	display: none;
}
.indexNav .nav-btn ul li{
	height: 34px;
	line-height: 34px;
	width:100%;
	margin: 0px;
	padding: 0px;
}
.indexNav .nav-btn ul li a{
	padding: 0px;
	width:100%;
	height: 34px;
	line-height: 34px;
	display: inline-block;
	font-size:14px;
	color: #666;
	text-align: center;
}
.indexNav .nav-btn ul li a:hover{
	background: var(--bg_color);
	color: #FFF;
}

.footerbar{
	width:100%;
	height: 350px;
	color: #FFF;
	background: var(--bg_color);
	display: inline-block;
}

.footerbar .left-item{
	float:left;
	width: 49%;
	height: 300px;
	text-align: center;
}
.footerbar .left-item .logo-word{
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 100px;
}

.footerbar .left-item .logo-word span{
	text-align: left; 
	font-family: 隶书, simli; 
	font-size: 48px;
	color: #FFF;
	display: inline-block;
}
.footerbar .left-item .logo-img{
	margin-top:10px;
	width: 100%;
}
.footerbar .left-item .logo-img img{
	width: 165px;
	height: 165px;
}
.footerbar .right-item{
	float:left;
	width: 49%;
	height: 300px;
}

.footerbar .right-item-list{
	width: 100%;
}

.footerbar .right-item-list .inner-item{
	margin-left: 100px;
}

.footerbar .right-item-list .inner-item p{
	line-height: 28px;
}

.footerbar .right-item-list ul{
	list-style-type: none;
	height:50px;
	margin-top: 40px;
	margin-left: 100px;
}

.footerbar .right-item-list ul li{
	float: left;
	margin-right:20px; 
	padding-right:20px;
	border-right:1px solid #FFF;
}

.footerbar .right-item-list ul li:last-child{
	border-right:none;
}

.footerbar .right-item-list ul li.noborder{
	border-right:none;
}

.footerbar .right-item-list ul li a{
	color: #FFF;
}

.footerbar .foot-bottom-info{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
}
.footerbar .foot-bottom-info a{
	color: #FFF;
}
