.beg-login-bg {
	background-size:cover !important;
	background-color: #00aef3;
}

.beg-login-box {
	width: 460px;
	margin: 12% auto 0 auto;
	background-color: rgba(255, 255, 255, 0.407843);
	border-radius: 10px;
	color: aliceblue;
}

.beg-login-box header {
	height: 40px;
	display: inline-block;
	width: 100%;
}

.beg-login-box header h1 {
	text-align: center;
	font-size: 28px;
	line-height: 40px;
}

.beg-login-box .beg-login-main {
	width: 60%;
	margin: auto;
	padding-top: 40px;
}

.beg-login-main .layui-form-item {
	position: relative;
}

.beg-login-main .layui-form-item .beg-login-icon {
	position: absolute;
	color: #cccccc;
	top: 10px;
	left: 10px;
}
.beg-login-main .layui-form-item .beg-login-icon .layui-icon{
	font-size:20px;
}

.beg-login-main .layui-form-item input {
	padding-left: 38px;
	font-size: 16px;
}

.beg-login-box footer {
	height: 35px;
	padding: 10px 10px 0 10px;
}

.beg-login-box footer p {
	line-height: 35px;
	text-align: center;
}

.beg-pull-left {
	float: left !important;
}

.beg-pull-right {
	float: right !important;
}

.beg-clear {
	clear: both;
}

.beg-login-remember {
	line-height: 38px;
}

.beg-login-remember .layui-form-switch {
	margin-top: 0px;
}

.beg-login-code-box {
	position: relative;
	padding: 10px;
}

.beg-login-code-box input {
	position: absolute;
	width: 100px;
}

.beg-login-code-box img {
	cursor: pointer;
	position: absolute;
	left: 115px;
	height: 38px;
}